* {
    line-height: 1.5;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #fff;
    font-size: 20px;
}

 .nav, ul, a {
    text-decoration: none;
    list-style: none;
    color: #e5e7eb;
    font-size: 18px;
}

img {
    max-height: 450px;
    max-width: 450px;
    margin-left: 30px;
}

button.signup {
    font-size: 20px;
    padding: 4px;
    background-color: #3882f6;
    color: #fff;
    border-radius: 10px;
    width: 140px;
}

nav, header, footer {
    background-color: #1f2937;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

h2 {
    font-size: 32px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.header p{
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 28px;
    font-weight: bolder;
    color: #f9faf8;
}

section.third {
    background-color: #e5e7eb;
}

q {
    font-size: 30px;
    font-style: italic;
    color: #1f2937;
}

footer {
    color: #f9faf8;
    text-align: center;
    padding: 5px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav {
    display: flex;
    gap: 20px;
    font-weight: bold;
}

header .container {
    display: flex;
    align-items: center;

}

.signup:nth-of-type(1) {
    margin-bottom: 40px;
}

.second .container {
    display: flex;
}